<div class="container">
  <h1>Gerenciamento de Usuários</h1>

  <div class="row">
    <div class="col-md-5">
      <h2>Cadastrar Usuário</h2>
      <app-user-form (userCreated)="refreshUserList()"></app-user-form>
      <h2>Lista de Usuários</h2>
      <app-user-list (userSelected)="fillSalaryForm($event)"></app-user-list>
    </div>
    <div class="col-md-5">
      <h2>Cadastrar Salário</h2>
      <app-salary-form
      [cpf]="selectedUser?.cpf"
      [name]="selectedUser?.name"
      (salaryCreated)="refreshSalaryList()"
      (salaryChanged)="loadDashboardData(selectedUser?.cpf)"></app-salary-form>
      <h2>Lista de Salário</h2>
      <app-salary-list [cpf]="selectedUser?.cpf"   (salaryChanged)="dashboardComponent.loadDashboardData(selectedUser?.cpf)">
        ></app-salary-list>
    </div>

    <div class="col-md-2">
      <app-dashboard [cpf]="selectedUser?.cpf"></app-dashboard>
    </div>
  </div>
</div>
